.box{
    width: 600px;
    height: 470px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    background: url('../img/box.png') no-repeat;
    top: 200px;
    padding-top: 115px;
    color: #fff;
    font-size: 16px;
}
.ingobg{
    background: url(../img/bg.png) no-repeat 100% 100%;
    min-height: 949px;
    color: #fff;
}
html,body{
    height: 100%;
}
.ingobg>img{
    position: absolute;
    left: 50%;
    margin-left: -42px;
    top: 60px;
}
.ingobg h1{
    font-weight: 500
}